<robot
  name="v1503">
  <link
    name="v1503">
    <inertial>
      <origin
        xyz="6.5162E-05 -0.65505 -6.51619999999599E-05"
        rpy="0 0 0" />
      <mass
        value="1264.2" />
      <inertia
        ixx="316.059527952246"
        ixy="-0.0572497264071919"
        ixz="5.36803968801528E-06"
        iyy="226.607537875502"
        iyz="-0.0572497264069401"
        izz="316.133384882316" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://v1503/meshes/v1503.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://v1503/meshes/v1503.STL" />
      </geometry>
    </collision>
  </link>
</robot>